*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(books.webp);
    background-size: cover;
    background-position: center;   
    font-family: sans-serif;
    
}

.menu_bar{
    background: rgba(0,100, 0);
    text-align: center;
    margin-left: 0%;

}

.menu_bar ul{
    display: inline-flex;
    list-style-type: none;
    color: #fff;
}

.menu_bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    
}
.menu_bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active ,.menu_bar ul li:hover{
    background: #2bab0d;
    border-radius: 3px;
    cursor: pointer;

}
.menu_bar .fa{
    margin-right: 8px;
}

.sub_menu1{
    display: none;
}

.menu_bar ul li:hover .sub_menu1{
    display: block;
    position: absolute;
    background: green;
    margin-top: 15px;
    margin-left: -15px;

}

.menu_bar ul li:hover .sub_menu1 ul{
    display: block;
    margin: 10px;

}

.menu_bar ul li:hover .sub_menu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0%;
    text-align: left;
}

.menu_bar ul li:hover .sub_menu1 ul li :last-child{
    border-bottom: none;
}

.menu_bar ul li:hover .sub_menu1 ul li a:hover{
    color: #b2ff;
}